:root {
    /* Layout Variables */
    --container-height: 25px;
    --stack-height: 65vh;
    --stack-width: 160px;
    --base-y: calc(50vh - 100px);
    --x-position: calc(40vw - 50%);
    
    /* Animation Variables */
    --animation-duration: 2s;
    --transition-ease: ease-in-out;
    
    /* Color Variables */
    --border-color: #333;
    --bg-color: #fff;
    --font-color: #333;
    --primary-color: #ffcc44;
    --secondary-color: #6CB4EE;
    --hover-bg-color: #f0f0f0;

    /* Accessibility Variables */
    --focus-outline: 2px solid #000;
}

body {
    font-family: Arial, sans-serif;
    font-size: 12px;
    background-color: #f0f0f0;
    height: 100%;
}

/* Layout: Grid */
.content-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    align-items: start;
}

.stack-container, 
.alt-stack-container, .operation-result {
    grid-column: 2 / span 1;
    grid-row: 1 / span 2;
    display: flex;
    flex-direction: column-reverse;
    align-items: start;
    width: var(--stack-width);
    height: var(--stack-height);
    border: 2px solid var(--border-color);
    border-radius: 5px;
    background-color: var(--bg-color);
    z-index: 1;
}

.alt-stack-container {
    grid-column: 3 / span 1;
    display: none; /* Initially hidden */
}

.operation-result {
    grid-column: 1;
    grid-row: 2;
    border: none;
    justify-self: center;
    height: calc(var(--container-height) * 10)
}

.result-label {
    grid-column: 1;
    grid-row: 1;
    background-color: var(--primary-color);
    padding: 10px;
    font-weight: bold;
    width: -webkit-fill-available;
}

.script-execution {
    grid-column: 1 / span 3;
    grid-row: 3;
    display: flex;
    width: 100%;
    justify-content: flex-start;
    height: calc(var(--container-height) * 2);
}

/* Flexbox Content */
.stack-item, 
.script-step {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--container-height);
    border: 2px solid var(--border-color);
    border-radius: 5px;
    background-color: var(--bg-color);
    box-sizing: border-box;
    transition: all var(--animation-duration) var(--transition-ease);
}

.stack-item {
    width: var(--stack-width);
    margin-bottom: 5px;
}

.stack-item.appear, 
.script-step.appear {
    opacity: 1;
}

.script-step {
    padding: 5px 10px;
    margin: 3px;
    opacity: 0;
    z-index: 2;
    transition: opacity 0.8s ease-in;
}

/* Footer */
.footer {
    grid-column: 1 / -1;
    grid row: 7;
    display: flex;
    width: 50%;
}

/* Label */
.label {
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    color: #fff;
    text-transform: capitalize;
    margin: 7px; /* Adds space around each label */
}

/* Buttons */
button {
    padding: 10px 20px;
    font-size: 12px;
    cursor: pointer;
    border: 1px solid var(--border-color);
    background-color: var(--bg-color);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--hover-bg-color);
}

/* Operation Result Items */
.operation-result-item {
    transition: transform 0.5s ease, opacity 0.5s ease;
    opacity: 0;
    display: flex;
    grid-column: 3 / span 1;
    grid-row: 1 / span 2;
    flex-direction: column-reverse;
    width: var(--stack-width);
    z-index: 1;
    display: none;
}

.operation-result-item-appear {
    opacity: 1;
    transform: translateY(0);
}

/* Running Script */
.running-script {
    grid-row: 4;
    display: flex;
    flex-direction: row;
    width: auto;
    height: var(--container-height);
    border: 2px solid var(--border-color);
    border-radius: 5px;
    background-color: var(--bg-color);
    z-index: 1;
    padding: 3px;
    margin-left: 10%;
    font-size: 12px;
}

/* Controls */
.controls {
    grid-column: 1 / -1;
    align-items: center;
    gap: 10px;
    padding: 10px;
    width: 100%;
    background-color: #e0e0e0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

#scriptInput {
    width: 40%;
    padding: 10px;
    font-size: 12px;
}

/* Type-specific Styles */
.constants {
    background-color: #ffcc00;
}

.flow-control {
    background-color: #ff6666;
}

.stack-opcode {
    background-color: var(--secondary-color);
}

.splice {
    background-color: #cc99ff;
}

.bitwise {
    background-color: #99cc00;
}

.arithmetic {
    background-color: #ff9933;
}

.crypto {
    background-color: #339966;
}

.locktime {
    background-color: #ff99cc;
}

.keys {
    background-color: #3366cc;
}

/* Accessibility */
button:focus, 
.stack-item:focus, 
.script-step:focus {
    outline: var(--focus-outline);
}

/* Animations */
@keyframes moveToStack {
    0% {
        opacity: 1;
        transform: translateY(0) translateX(0);
    }
    20% {
        opacity: 1;
        transform: translateY(-20px) translateX(0);
    }
    50% {
        opacity: 1;
        transform: translateY(-20px) translateX(var(--x-position));
    }
    80%, 100% {
        opacity: 0;
        transform: translateY(calc(var(--base-y) - var(--container-height) * var(--index)))
                    translateX(var(--x-position));
    }
}

@keyframes stackAppear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

